@value red-color, green-color from '../assets/colors.css';

.hello {
  background-color: red;
  color: white;
}

.world {
  composes: hello;
  background: green;
}

:global(.jumbo) {
  font-size: 60px;
}
